<div class="modal-body">
  <div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
  <form role="form">
    <div class="form-group">
      <label for="object-product">Tên công thức</label>
      <input type="hidden" class="form-control" id="hd-action-type">
      <input type="hidden" class="form-control" id="hd-object-id">
      <select disabled class="form-control" id="object-product"></select>
    </div>
    <div class="form-group">
      <label for="object-ingredient">Nguyên liệu *</label>
      <select class="form-control" id="object-ingredient"></select>
    </div>
    <div class="form-group">
      <label for="object-amount">Số lượng *</label>
      <input type="text" class="form-control" id="object-amount" placeholder="Số lượng" maxlength="15">
    </div>
  </form>
</div>