<div class="modal-body">
<div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
  <form role="form">
    <div class="form-group">
      <label for="object-receiptid">Mã <%= _name %> *</label>
      <input type="hidden" class="form-control" id="hd-action-type">
      <input type="hidden" class="form-control" id="hd-object-id">
      <input type="text" class="form-control" id="object-receiptid" placeholder="Mã <%= _name %>" maxlength="20">
    </div>
    <div class="form-group">
      <label for="object-user">Nhân viên *</label>
      <select class="form-control" id="object-user"></select>
    </div>
    <div class="form-group">
      <label for="object-time">Thời gian *</label>
      <input type="text" class="form-control" id="object-time" placeholder="Thời gian" maxlength="20">
    </div>
    <div class="form-group">
      <label for="object-note">Ghi chú</label>
      <input type="text" class="form-control" id="object-note" placeholder="Tổng số mặt hàng" maxlength="200">
    </div>
  </form>
</div>