<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
<div class="table-responsive">
                        <div id="warningpopup" title="Cảnh báo" hidden>
                    Bạn có chắc muốn hủy bỏ mọi thông tin đã nhập?
                </div>
<div class="row">
<div id="deleteform" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Cảnh báo</h4>
              </div>
              <div class="modal-body">
                Bạn có chắc muốn hủy bỏ tất cả mọi thông tin đã nhập không?

              </div>
              <div class="modal-footer">
                <button type="button"  class="btn btn-primary update" data-dismiss="modal">Không</button>
                <button type="button" id="btncancel3" class="btn btn-danger remove">Có</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    
    <div class="col-lg-12">
        <h1 class="page-header">Xuất kho</h1>
    </div> 
</div>
<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                
                
                <div class= "panel-body">
                	<div class="table-responsive">
                        <div  id="oneingredient">
                            <form>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                Nguyên liệu
                                            </th>
                                            <th>
                                                Cửa hàng
                                            </th>
                                            <th>
                                                Kho tổng
                                            </th>
                                            <th>
                                                Tồn kho
                                            </th>
                                            <th>
                                                Số lượng chuyển
                                            </th>
                                            <th>
                                                
                                            </th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody2">
                                        <tr id="oneingredienttr1">
                                            <td>
                                                <b>#1</b><select id="oneingredientlist1" onchange="OneIngredientChangeIngredient();">
                                                    <option value="0">Nguyên liệu</option>
                                                    <script type="text/javascript">
                                                         $.getJSON("http://localhost:1337/ingredient/view",function(datas3){
                                                       for (var i = 0; i < datas3.ingredient.length; i++) {
                                                           $("#oneingredientlist1").append("<option value ='"+datas3.ingredient[i].id+"'  id='oneingredient1? "+datas3.ingredient[i].id+"'>"+datas3.ingredient[i].name+"</option>");
                                                       };
                                                    });
                                                    </script>
                                                </select>
                                            </td>
                                            <td>
                                                <select id="oneingredientstoreslist1" onchange="OneIngredientChangeStore(1);">
                                                    <option value="0">Cửa hàng</option>
                                                </select>
                                            </td>
                                            <td>
                                                <label id="oneingredientMain1"></label>
                                            </td>
                                            <td>
                                                <label id="oneingredientLocal1"></label>
                                            </td>
                                            <td>
                                                <input type="textbox" id="oneingredientaddstock1"></input>
                                            </td>
                                            <td>
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <img src="images/plus.png" height="20" width="20" onmouseover="" style="cursor: pointer;" id="btnadd2">
                        </div>

                    <div>
                    </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="btnchange2" class="btn btn-primary update" value="Chuyển"></input>
                    <input type="button" id="btncancel2" class="btn btn-danger remove" value="Hủy"></input>
                </form>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" charset="utf-8">
var z=5;

    $( document ).ready(function()
    {
         for (var x = 2; x <=5; x++) 
        {
            $("#tbody2").append("<tr id='oneingredienttr"+x+"'><td><b>#"+x+"</b></td><td><select id='oneingredientstoreslist"+x+"' onchange='OneIngredientChangeStore("+x+");''><option value='0'>Cửa hàng</option></select></td><td><label id='oneingredientMain"+x+"'></label></td><td><label id='oneingredientLocal"+x+"'></label></td><td><input type='textbox' id='oneingredientaddstock"+x+"'></input></td><td><img src='images/minus.png' onmouseover='' style='cursor:pointer;' id='oneingredientdelete"+x+"'  height='20' width='20' onclick='deleterow2("+x+");'></td></tr>");
        };
    });
//Functions related to OneIngredient choice
    function OneIngredientChangeIngredient()
    {
        var chosenIngredient = $("#oneingredientlist1").val();
        /*for (var i = 6; i <= z; i++) 
        {
            $("#oneingredienttr"+i+"").remove();
        };
        z=5;*/
            for (var i = 1; i <= z; i++) 
            {
                $("#oneingredientstoreslist"+i+"").empty();
                $("#oneingredientMain"+i+"").text("");
                $("#oneingredientLocal"+i+"").text("");
                $("#oneingredientaddstock"+i+"").val("");
                $("#oneingredientstoreslist"+i+"").append("<option value='0'>Cửa hàng</option>");
            };
        var populate = ["store"];
        var where = {"ingredient":chosenIngredient};
        $.post("/services/model",{ from: "ingredientStore", populate: ["store"] , where: JSON.stringify(where)},function(result)
                {
                    if(result.status==0)// check if chosen ingredient belong to any stores
                    {
                        alert("Không có cửa hàng nào có nguyên liệu này");
                        return false;
                    }
                    for (var i = 1; i <=z; i++) 
                    {
                        if($("#oneingredienttr"+i+"").length)//check if the row exists
                        {
                            for (var m = 0; m < result.IngredientStore.length ; m++) 
                            {
                                if(result.IngredientStore[m].store.id!=1)
                                {
                                $("#oneingredientstoreslist"+i+"").append("<option value='"+result.IngredientStore[m].store.id+"'>"+result.IngredientStore[m].store.name+"</option>");
                                }   
                                if(result.IngredientStore[m].store.id==1)
                                {
                                    $("#oneingredientMain"+i+"").text(result.IngredientStore[m].instock);
                                }
                            };
                        };
                    };
                });
    };
    function OneIngredientChangeStore(row)
    {
        for (var i = 1; i <=z; i++) 
        {
            if($("#oneingredientstoreslist"+i+"").val()==$("#oneingredientstoreslist"+row+"").val()&&row!=i&&$("#oneingredientstoreslist"+row+"").val()!=0)
            {
                alert("#"+row+" Bạn đã chọn cửa hàng này rồi!");
                $("#oneingredientstoreslist"+row+"").val(0);
                $("#oneingredientLocal"+row+"").text("");
                return false;
            }

        };
        var store= $("#oneingredientstoreslist"+row+"").val();
        var ingredient=$("#oneingredientlist1").val(); 
        //get stock of chosen ingredient depend on chosen store
        var where2= {"ingredient":ingredient,"store":store};
        $.post("/services/model",{from:"ingredientStore",where: JSON.stringify(where2)},function(result2)
        {
            $("#oneingredientLocal"+row+"").text(result2.IngredientStore[0].instock);
        });
    }
    function deleterow2(row)
    {
        if(row==z)//user deletes the last row
        {
            $("#oneingredienttr"+row+"").remove();
            z=z-1;
        };
        if(row<z)//user deletes middle row
        {
            for (var i = row; i < z; i++) 
            {
                var n= i+1;
                $("#oneingredientstoreslist"+i+"").val($("#oneingredientstoreslist"+n+"").val());
                $("#oneingredientMain"+i+"").text($("#oneingredientMain"+n+"").text());
                $("#oneingredientLocal"+i+"").text($("#oneingredientLocal"+n+"").text());
                $("#oneingredientaddstock"+i+"").val($("#oneingredientaddstock"+n+"").val());
            };
            $("#oneingredienttr"+z+"").remove();
            z=z-1;
        };
    };
    $("#btnadd2").click(function()
    {
        z=z+1;
        $("#tbody2").append("<tr id='oneingredienttr"+z+"'><td><b>#"+z+"</b></td><td><select id='oneingredientstoreslist"+z+"' onchange='OneIngredientChangeStore("+z+");''><option value='0'>Cửa hàng</option></select></td><td><label id='oneingredientMain"+z+"'></label></td><td><label id='oneingredientLocal"+z+"'></label></td><td><input type='textbox' id='oneingredientaddstock"+z+"'></input></td><td><img src='images/minus.png' onmouseover='' style='cursor:pointer;' id='oneingredientdelete"+z+"'  height='20' width='20' onclick='deleterow2("+z+");'></td></tr>");
        //get store list based on chosen ingredient
        var chosenIngredient = $("#oneingredientlist1").val();
        var populate = ["store"];
        var where = {"ingredient":chosenIngredient};
        var data = { "from": "ingredientStore", "populate": ["store"], "where":{"ingredient":chosenIngredient}};
        $.post("/services/model",{ from: "ingredientStore", populate: JSON.stringify(populate) , where: JSON.stringify(where)},function(result)
                {
                            for (var m = 0; m < result.IngredientStore.length ; m++) 
                            {
                                if(result.IngredientStore[m].store.id!=1)
                                {
                                $("#oneingredientstoreslist"+z+"").append("<option value='"+result.IngredientStore[m].store.id+"'>"+result.IngredientStore[m].store.name+"</option>");
                                };
                                if(result.IngredientStore[m].store.id==1)
                                {
                                    $("#oneingredientMain"+z+"").text(result.IngredientStore[m].instock);
                                }
                            };
                });
    });

$("#btncancel2").click(function()
{
    /*$("#warningpopup").dialog({
      resizable: false,
      height:200,
      modal: true,
      buttons: {
        "Vâng": function() 
        { 
          for (var i = 1; i <=z; i++) 
        {
            $("#oneingredientlist1").val(0);
            $("#oneingredientstoreslist"+i+"").empty();
            $("#oneingredientstoreslist"+i+"").append("<option value='0'>Cửa hàng</option>");
            $("#oneingredientMain"+i+"").text("");
            $("#oneingredientLocal"+i+"").text("");
            $("#oneingredientaddstock"+i+"").val("");
        }; 
          $( this ).dialog( "close" );
           window.location.reload();
        },
        Không: function() {
          $( this ).dialog( "close" );
        }
      }
    });*/
    $('#deleteform').modal();
});
$("#btncancel3").click(function()
{
    /*for (var i = 1; i <=z; i++) 
        {
            $("#oneingredientlist1").val(0);
            $("#oneingredientstoreslist"+i+"").empty();
            $("#oneingredientstoreslist"+i+"").append("<option value='0'>Cửa hàng</option>");
            $("#oneingredientMain"+i+"").text("");
            $("#oneingredientLocal"+i+"").text("");
            $("#oneingredientaddstock"+i+"").val("");
        };*/
        window.location.reload(); 
});
$("#btndelete2").click(function()
{
    for (var i = 6; i <= z; i++) 
    {
        $("#oneingredienttr"+i+"").remove();
    };
    z=5;
});

$("#btnchange2").click(function()
{
    if($("#oneingredientlist1").val()==0)
    {
        alert("Bạn chưa chọn nguyên liệu cần chuyển!");
        return false;
    }
    var flag = 0;
    var store= [];
    for (var i = 1; i <= z; i++) 
    {
        if($("#oneingredienttr"+i+"").length)
        { 
            if($("#oneingredientstoreslist"+i+"").val()!=0&&$("#oneingredientaddstock"+i+"").val()!="")
            {
                flag =1;
                if(/^[0-9]+$/.test($("#oneingredientaddstock"+i+"").val())==false)
                {
                    alert("#"+i+" Số lượng nguyên liệu cần chuyển không hợp lệ!");
                    return false;
                };
                if($("#oneingredientaddstock"+i+"").val()>1000000000)
                {
                    alert("#"+i+" Số lượng nguyên liệu cần chuyển không được lớn hơn 1000000000");
                    return false;
                };
                var storeid= $("#oneingredientstoreslist"+i+"").val();
                var stock = parseInt($("#oneingredientaddstock"+i+"").val());
                var obj = {"storeid":storeid,"stock":stock};
                store.push(obj);
            }
            if($("#oneingredientstoreslist"+i+"").val()!=0&&$("#oneingredientaddstock"+i+"").val()=="")
                {
                    alert("#"+i+" Bạn chưa nhập số lượng nguyên liệu cần chuyển!");
                    return false;
                };
                if($("#oneingredientstoreslist"+i+"").val()==0&&$("#oneingredientaddstock"+i+"").val()!="")
                {
                    alert("#"+i+" Bạn chưa chọn cửa hàng cần chuyển!");
                    return false;
                };
        }
    };
    if(flag==0)
    {
        alert("Bạn phải chuyển nguyên liệu đến ít nhất 1 cửa hàng !");
        return false;
    }
    var ingredientid = $("#oneingredientlist1").val();
    var data = {"ingredientid":ingredientid,"store":store};
     $.post("/ingredient/export/set",{option:2,data:JSON.stringify(data)},function(result2)
        {
            if(result2.status==1)
            {
            alert(result2.message);
            window.location.reload();
            }
            if(result2.status==0)
            {
                alert(result2.message+", xin vui lòng kiểm tra lại số lượng đã nhập.");
                return false;
            }
        });
});
</script>