<div class="modal-body">
  <div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
  <form role="form">
    <div class="form-group">
      <label for="object-product">Tên <%= _name %> *</label>
      <input type="hidden" class="form-control" id="hd-action-type">
      <input type="hidden" class="form-control" id="hd-object-id">
      <select class="form-control" id="object-product"></select>
    </div>
  </form>
</div>