<div class="modal-body">
  <div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
  <form role="form">
    <div class="form-group">
      <label for="object-ingredient">Nguyên liệu</label>
      <input type="hidden" class="form-control" id="hd-action-type">
      <input type="hidden" class="form-control" id="hd-object-id">
      <select class="form-control" id="object-ingredient"  disabled></select>
    </div>
    <div class="form-group">
      <label for="object-store">Cửa hàng</label>
      <select class="form-control" id="object-store"  disabled></select>
    </div>
    <div class="form-group">
      <label for="object-instock">Số lượng tồn *</label>
      <input type="text" class="form-control" id="object-instock" placeholder="Số lượng tồn">
    </div>
    <div class="form-group">
      <label for="object-limit">Mức báo động *</label>
      <input type="text" class="form-control" id="object-limit" placeholder="Mức báo động">
    </div>
    <div class="form-group" id="div-status">
        <label for="object-status">Trạng thái </label>
        <label class="radio-inline">
            <input type="radio" name="object-status" id="rdoStatus1" value="true">Xóa
        </label>
        <label class="radio-inline">
            <input type="radio" name="object-status" id="rdoStatus2" value="false">Kích hoạt
        </label>
    </div>
  </form>
</div>