var model = "Product";

function add()
{
  resetForm();
  $('#message').hide();
  $('#form').modal();
  $('#hd-action-type').val("1");

  //Hide status because new category should always be activated
  $('#div-status').hide();
  $( "#rdoStatus2" ).prop( "checked", true );
}

function update (object) {
  $('#hd-action-type').val("0");      
  $('#hd-object-id').val(object.id);
  $('#object-name').val(object.name);      
  $('#object-category').val((object.category == undefined) ? "" : object.category.id);
  $('#object-price').val(object.price);      
  $('#object-description').val((object.description == undefined) ? "" : object.description);

  $('input:radio[name="object-status"]').filter('[value='+object.deleted+']').prop('checked', true);
  $('#div-status').show();

  $('#message').hide();
  $('#form').modal();
}

function drawObject(object, button) {
  var listItem = $('#list-item').DataTable();

  var deleted = object.deleted;
  //If action is update => object.deleted will be a string => convert it to boolean
  if(typeof deleted == "string")
    deleted = (deleted == "true") ? true : false; //Convert string to bool

  var _object = [
    object.id,
    object.name,
    $("#object-category option:selected").text(), //The response does not include category name => get text from the selected dropdown list
    object.price,
    'null',
    (object.description == undefined) ? "" : object.description,
    (deleted == false) ? "Kích hoạt" : "Đã xóa"
  ];

  _object.push("<button type='button' id='btnUpdate"+ object.id +"' onClick='update("+JSON.stringify(object)+")' class='btn btn-primary update'>Cập nhật</button>");
  if(deleted == false)
    _object[_object.length-1] = _object[_object.length-1] + "&nbsp;<button type='button' id='btnRemove"+object.id+"' onClick=removeObject("+JSON.stringify(object)+") class='btn btn-danger remove'>Xóa</button>";

  listItem.row.add(_object).draw();;
}

function removeObject (object) {
      var obj = {"deleted": true};
      var data = {
                    "from": model,
                    "action": "update",
                    "where": JSON.stringify({ "id": object.id}),
                    "updatedata": JSON.stringify(obj)
                };

      $.post("/services/model", data)
        .done(function(data) 
        {
          if(data.status == 1)
          {
            object = data.Product;
            //Get datatable
            var listItem = $('#list-item').DataTable();
            object = object[0];

            //Get selected row
            var row = $("#btnUpdate"+object.id).closest('tr');
            row = row[0];
            //Get selected row id
            // var rowId = table.row( row ).index();
            listItem.row(row).remove();

            drawObject(object);
            
            $('#errorModelMessage').text(data.message);
            $('#errorModelMessage').show();
            $('#errorModal').modal('hide');
          }
        })
        .fail(function(error)
        {
          $('#errorModelMessage').text("Không thể xóa dữ liệu!");
          $('#errorModelMessage').show();
          $('#errorModal').modal('hide');
        });
}

function validate () {
  var name = $('#object-name').val();
  if(name == "") //name is null
  {
    $('#message').text("Tên sản phẩm không được để trống!");
    $('#message').show();
    return false;
  }
  else
  {
    $('#message').hide();
    return true; 
  }
}


function save () {
  var status = validate();
  if(status)
  {
      var type = $('#hd-action-type').val();
      var name = $('#object-name').val();
      var category = $('#object-category').val();
      var description = $('#object-description').val();
      var price = $('#object-price').val();
      var status = $('input[name=object-status]:checked').val();

      
      var obj = 
                {
                  "name": name,
                  "category": category,
                  "description": description,
                  "price": price,
                  "deleted": status
                };
      //If type == 0 -> action is update
      //Else action is create
      var data = null;
      if(type == 0)
      {
        var objectId = $('#hd-object-id').val();
        
        data = {
                      "from": model,
                      "action": "update",
                      "where": JSON.stringify({ "id": objectId}),
                      "updatedata": JSON.stringify(obj)
                  };
      }
      else
      {
        obj.status = true;
        data = {
                      "from": model,
                      "action": "create",
                      "createdata": JSON.stringify(obj)
                  };
      }
      
      $.post("/services/model", data)
        .done(function(data) 
        {
          if(data.status == 1)
          {
            object = data.Product;
            //Get datatable
            var listItem = $('#list-item').DataTable();

            
            if(type == 0) //If action is update => remove old row
            {
              //Because we can update multiple rows => object will be an array not an object like insert
              object = object[0];

              //Get selected row
              var row = $("#btnUpdate"+object.id).closest('tr');
              row = row[0];
              //Get selected row id
              // var rowId = table.row( row ).index();
              listItem.row(row).remove();
            }

            
            drawObject(object, true);
            //.draw(false) to prevent datatable reload to page 1
            //Hiện tại vẫn còn 1 lỗi nhỏ: khi qua trang mới thì datatable ko tự chuyển trang được (sẽ fix sau)   
            
            $('#form').modal('hide');
            resetForm();
          }
          else
          {
            $('#message').text(data.message);
            $('#message').show();
          }
        })
        .fail(function(error)
        {
          $('#message').text('Không thể cập nhật '+_name);
          $('#message').show();
        });
  }
}
function resetForm()
{
  $('#object-name').val("");
  $('#object-description').val("");
  $('#object-price').val("");
  $('input[name=object-status]').attr("checked", false);
}