<div class="modal-body">
  <div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
  <form role="form">
    <div class="form-group">
      <label for="object-name">Loại tài khoản *</label>
      <input type="hidden" class="form-control" id="hd-action-type">
      <input type="hidden" class="form-control" id="hd-object-id">
      <input type="text" class="form-control" id="object-name" placeholder="Loại tài khoản" maxlength="20">
    </div>
  </form>
</div>